/*
Позиционирование
Блочная модель
Типографика
Оформление
Анимация
Разное
*/

.declaration-order {
  content: "";

  /* Позиционирование */
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;

  /* Блочная модель */
  display: block;
  float: right;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  min-width: 0;
  width: 100px;
  margin-bottom: 35px;
  height: 100px;
  margin: 10px;
  padding: 10px;
  padding-top: 45px;
  padding-right: 80px;
  padding-bottom: 50px;
  padding-left: 80px;

  /* Типографика */
  font: normal 13px/1.5 "Arial", sans-serif;
  font-style: normal;
  font-size: 13px;
  line-height: 1.5;
  font-family: "Arial", sans-serif;
  text-align: center;
  color: #333333;

  /* Оформление */
  background: url('optional.png ') no-repeat right 50%;
  background-color: f5f5f5;
  background-image:;
  background-repeat:;
  background-position:;
  background-attachment:;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  opacity: 1;
  /* list-style: none; */

  /* Анимация */
  transition: color 1s;

  /* Разное */
  will-change: auto;
}


body > * {
  background-color: rgba(200, 0, 0, 0.3);
}

body > * > * {
  background-color: rgba(0, 255, 0, 0.3);
}

body > * > * > * {
  background-color: rgba(0, 255, 255, 0.3);
}

body > * > * > * > * {
  background-color: rgba(0, 0, 255, 0.3);
}


.visually-hidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  border: 0;
  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}


img {
  max-width: 100%;
  height: auto;
}
