body {
  min-width: 940px;
  margin: 0;
  padding: 0;

  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  font-family: "PT Sans Narrow", Arial, sans-serif;
  text-align: left;
  text-transform: uppercase;
  color: #ffffff;


  background-color: #000000;
  background-image: url("../img/background.jpg");
  background-position: top center;
  background-repeat: no-repeat;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  border: 0;
  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}


img {
  max-width: 100%;
  height: auto;
}

.inner-page{
  font-size: 14px;
  line-height: 18px;
  font-weight: 700;
  color: #000000;


  background-color: #f9f6f3;
  background-image: url("../img/pattern-light.jpg");
  background-position: 0 0;
  background-repeat: repeat;
}

a {
  text-decoration: none;
}

.main-header {
  margin-bottom: 70px;

  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}

.site-navigation,
.user-navigation {
  display: flex;
  flex-wrap: wrap;

  margin: 0;
  padding: 0;

  list-style: none;
}

.site-navigation a,
.user-navigation a {
  display: block;

  padding: 25px 20px;

  vertical-align: middle;
  color: #ffffff;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus{
  color: #ffffff;

  background-color: #1f1f1f;
}

.user-navigation .login-link {
  position: relative;

  padding-left: 55px;
}

.user-navigation .login-link::before {
  content: "";

  position: absolute;
  top: 27px;
  left: 24px;

  width: 20px;
  height: 20px;

  background-image: url("../img/login.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.user-navigation .login-link:hover::before,
 .user-navigation .login-link:focus::before,
 .user-navigation .login-link:active::before {
  opacity: 1;
}

.features-list {
  padding: 0;
  margin: 0;

  list-style: none;
}

.features-list h3 {
  position: relative;

  margin: 0;
  margin-bottom: 60px;
  padding: 0;

  font-size: 30px;
  line-height: 42px;
}

.features-list h3::after {
  content: "";

  position: absolute;
  top:55px;
  right: 50%;

  width: 20px;
  height: 20px;
  margin-right: -10px;

  background-color: #ffffff;

  transform: rotate(45deg);
}

.features-list p {
  margin: 0;
  padding: 0;
  padding-right: 12px;
  padding-left: 12px;

}

.index-columns {
  display: flex;
  justify-content: space-between;
  margin-bottom: 35px;
  padding-top: 45px;
  padding-right: 80px;
  padding-bottom: 50px;
  padding-left: 80px;

  color: #000000;

  background-color: #f8f5f2;
  background-image:
    url("../img/column-shadow.png"),
    url("../img/pattern-light.jpg");
  background-position: center, 0 0;
  background-repeat: no-repeat, repeat;
}

.index-columns h2 {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;

  font-size: 30px;
  line-height: 42px;
}

.news-items {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;

  list-style: none;
}

.news-items li {
  margin-bottom: 20px;
}

.index-columns p {
  margin: 0;
  padding: 0;
}

.news-items time {
  text-transform: none;
}


.button {
  display: inline-block;

  box-sizing: border-box;
  min-width: 140px;
  padding: 10px 25px;

  font: inherit;

  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  color: #ffffff;

  background-color: #000000;
  border: none;
}

.button:hover,
.button:focus,
.button:active {
  color: #ffffff;

  background-color: #663b0d;
}

.button:disabled,
.button.disabled {
  cursor: default;
  opacity: 0.5;
  background-color: #999999;
}

.gallery-content {
  height: 164px;
  margin: 0;
  padding: 0;

  background-color: #5f5649;

  border-width: 7px;
  border-style: solid;
  border-color: #ffffff;
}

.gallery-content {
  width: 286px;
  height: 164px;
}

.main-footer {
  margin-top: 65px;
  padding-top: 60px;
  padding-bottom: 40px;

  color: #ffffff;

  background-color: #000000;
  background-image: url("../img/footer.jpg");
  background-position: 0 0;
  background-repeat: repeat;
}

.main-footer a {
  color: #ffffff;
}

.main-footer .footer-map {
  text-decoration: underline;
}

.footer-social {
  width: 140px;

  text-align: center;
}

.popup-login a {
  color: #000000;
}

.main-footer .footer-map:hover,
.main-footer .footer-map:focus {
  text-decoration: none;
}


.main-footer ul {
  list-style: none;
}

.footer-copyright {
  width: 140px;
  margin: 0;
  margin-left: auto;
  padding: 0;

  text-align: center;
}

.footer-copyright b {
  display: block;

  margin-bottom: 10px;
}

.footer-copyright .copyright-link:focus,
.footer-copyright .copyright-link:hover {
  color: #000000;

  background-color: #ffffff;
}

.popup {
  display: none;

  color: #000000;

  background-color: #f8f5f2;
  background-image: url("../img/pattern-light.jpg");
  background-position: 0 0;
  background-repeat: repeat;
}

.popup-login h2 {
  font-size: 30px;
  line-height: 42px;
}

.popup-login input[type="text"],
.popup-login input[type="password"] {
  font: inherit;

  text-transform: uppercase;
  color: #000000;

  background-color: #f9f6f3;
  border-width: 2px;
  border-style: solid;
  border-color: #000000;
}

.popup-login input:focus,
.popup-login input:hover {
  border-color: #663d15;
}

.login-checkbox:hover,
.login-checkbox:focus {
  color: #663d15;
}

.popup-login .restore {
  text-decoration: underline;
}

.popup-login .restore:hover,
.popup-login .restore:focus {
  text-decoration: none;
}

.popup-map {
  background-color: #f8f5f2;

  border-width: 7px;
  border-style: solid;
  border-color: #ffffff;
}

/*  Для страницы shop*/
.container h1 {
  font-size: 30px;
  line-height: 42px;
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;

  margin: 0;
  margin-bottom: 50px;
  padding: 0;

  list-style: none;
}

.breadcrumbs li:not(:last-child) {
  position: relative;

  margin-right: 40px;
}

.breadcrumbs li:not(:last-child)::after {
  content: "";

  position: absolute;
  top: 50%;
  right: -20px;


  width: 8px;
  height: 8px;
  margin-top: -4px;
  margin-right: -4px;

  background-color: #000000;

  transform: rotate(45deg);
}

.breadcrumbs a {
  color: #000000;
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
  color: #663d15;
  text-decoration: underline;
}

.breadcrumbs-current {
  color: #aba9a7;
}

.shop-filters-form legend {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;

  font-size: 24px;
  line-height: 30px;
}

.shop-filters-form fieldset {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;

  border: none;
}

.shop-filters-form ul {
  margin: 0;
  margin-left: 45px;
  padding: 0;

  list-style: none;
}

.shop-filters-form .button {
  min-width: 110px;
  width: 110px;
}

.filter-option {
  position: relative;

  margin-bottom: 19px;
}

.filter-input + label::before{
  content: "";

  position: absolute;
  top: -2px;
  left: -45px;

  box-sizing: border-box;
  width: 20px;
  height: 20px;
}

.filter-input-checkbox + label::before {
  background-color: #f9f6f3;
  border: 2px solid #000000;
}

.filter-input-checkbox:checked + label::before {
  background-image: url("../img/cross.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.filter-input-radio + label::before {
  background-color: #f9f6f3;
  border: 2px solid #000000;
  border-radius: 50%;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
  padding-top: 5px;

  list-style: none;
}

.catalog-item:hover {
  box-shadow: 3.2px 3.8px 25px 0 rgba(0, 1, 1, 0.3);
}

.catalog-item h3 {
  margin-left: 15px;

  font-size: 14px;
  line-height: 18px;
  color: #000000;
}

.catalog-item span {
  display: block;
}

.catalog-item .catalog-category {
  text-transform: none;
}

.pagination-list {
  display: flex;
  flex-wrap: wrap;

  margin: 0;
  padding: 0;

  list-style: none;
}

.filter-input:hover + label,
.filter-input:focus + label {
  color: #663d15;
}

.filter-input:disabled + label {
  color: #aCaaa8;
}

.catalog-item-price {
  display: flex;
  justify-content: center;
}

.catalog-item-price b {
  display: block;

  box-sizing: border-box;
  width: 110px;
  padding-top: 10px;
  padding-bottom: 15px;

  text-align: center;
  color: #000000;

  background-color: #e5e5e5;
}

.catalog-item-price .button {
  box-sizing: border-box;
  min-width: 78px;
  width: 78px;
  margin: 0;
  padding: 10px 18px;
}

.pagination-item a{
  display: block;

  box-sizing: border-box;
  width: 43px;
  height: 43px;
  margin-right: 7px;
  padding-top: 13px;

  text-align: center;
  color: #ffffff;

  background-color: #000000;
}

.pagination-item a:hover,
.pagination-item a:focus,
.pagination-item a:active {
  color: #ffffff;

  background-color: #663b0d;
}

.pagination-item-current a {
  color: #000000;

  background-color: #ffffff;
}

.pagination-item-current a:hover,
.pagination-item-current a:focus,
.pagination-item-current a:active {
  color: #000000;

  background-color: #ffffff;
}
/*Для карточки товара  */
.item-gallery .item-photo-full {
   box-shadow: 0 0 15px 0 rgba(0, 1, 1, 0.2);
}

.item-thumbnails {
  list-style: none;
}

.item-thumbnails li {
  box-shadow: 0 0 15px 0 rgba(0, 1, 1, 0.2);
}

.item-about .item-article {
  text-align: right;
  color: #aeaeae;
}

.item-price b {
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #00000;

  background-color: #e5e5e5;
}

.item-price .button {
  font-size: 14px;
  line-height: 24px;
}

.item-about .about-list {
  font-size: 14px;
  line-height: 24px;

  list-style: none;
}

.item-text a {
  color: #000000;
}

.item-text a:hover,
.item-text a:focus {
  text-decoration: underline;
}
/* Для прайс-листа */
.page-lead {
  font-size: 48px;
  line-height: 48px;
}

.tools-info b,
.about b,
.price-list b {
  font-size: 24px;
  line-height: 30px;
}

.tools-list {
  list-style: none;
}

.tools-list li {
  font-size: 14px;
  line-height: 24px;
}

.price-list-table {
  border-collapse: collapse;
}

.price-list-table td {
  border-width: 2px;
  border-style: solid;
  border-color: #000000;
}

/* Стили для сетки с уникальными селекторами */

.inner-page .main-header {
    margin-bottom: 50px;
    background-color: #000000;
}

.main-navigation {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: transparent;
}

.inner-page .main-navigation {
  flex-direction: row;
  /* align-items: flex-start;
  justify-content: space-between; */

  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.header-logo {
  order: 2;
  width: 371px;
  height: 155px;
}

.mini-logo {
  width: 111px;
  height: 24px;
  padding: 23px 20px;
}

.main-navigation-wrapper {
  width: 100%;
  margin-bottom: 60px;

  background-color: #000000;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.main-navigation .container {
  display: flex;
  justify-content: space-between;
}

.site-navigation {
  width: 600px;
}

.site-navigation-current {
  position: relative;
}

.site-navigation-current::before {
  content: "";

  position: absolute;
  right: 20px;
  left: 20px;
  bottom: 0;

  height: 4px;

  background-color: #ffffff;
}


.user-navigation {
  width: 110px;
  margin-left: auto;
}

.inner-page .user-navigation {
  /* margin-left:auto; */
}

.main-container .features {
  margin-bottom: 80px;
}

.main-container .features-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.features-item {
  width: 300px;

  text-align: center;
}

.index-columns .news {
  width: 380px;
}

.index-columns .contacts {
  width: 380px;
}

.contacts p{
  margin-bottom: 20px;
}

.contacts .button{
  margin-right: 15px;
}

.index-columns .gallery {
  position: relative;

  width: 300px;
}

.index-columns .appointments {
  width: 300px;
}

.appointments .button{
  width: 100%;
}

.appointments .appointment-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.appointments .appointment-info {
  margin-bottom: 10px;
}

.appointment-form .appointment-item {
  width: 140px;
  margin-bottom: 10px;
}

.appointment-item label {
  display: block;

  padding: 0 15px;
  margin-bottom: 7px;
}

.appointment-item input {
  box-sizing: border-box;

  width: 140px;
  padding-top: 8px;
  padding-right: 15px;
  padding-bottom: 7px;
  padding-left: 15px;

  font: inherit;

  background-color: transparent;
  border-width: 2px;
  border-style: solid;
  border-color: #000000;
}

.appointments input:focus,
.appointments input:hover {
  border-color: #663d15;
}

.appointment-form .button{
  margin-top: 10px;
}

.page-title {
  margin: 0;
  margin-bottom: 17px;
  padding: 0;
}

.shop-columns {
  display: flex;
  justify-content: space-between;
}

.shop-filters {
  width: 175px;
}

.catalog {
  width: 700px;
}


.catalog-item {
  display: flex;
  flex-direction: column;

  width: 220px;
  margin-bottom: 20px;
  margin-right: 20px;

  background-color: #fefefe;
  box-shadow: 0 0 15px 0 rgba(0, 1, 1, 0.2);
}

.catalog-item:nth-child(3n) {
  margin-right: 0;
}

.item-gallery {
  width: 460px;
}

.gallery .button{
  position: absolute;
  bottom: 0;
}

.gallery .gallery-backward {
  left: 0;
}

.gallery .gallery-forward {
  right: 0;
}

.item-about {
  width: 390px;
  padding-top: 15px;
  padding-left: 10px;
}

.inner-page .main-footer {
  margin-top: 50px;
}

.main-footer .container {
  display: flex;
}

.footer-address {
  width: 320px;
  margin: 0;
  margin-right: 80px;
  padding: 0;
}

.footer-social ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  margin: 0;
  padding: 0;
}

.footer-social b {
  display: block;

  margin-bottom: 15px;
}

.footer-social a {
  display: block;

  width: 40px;
  height: 40px;

  background-color: #000000;
  background-repeat: no-repeat;
  background-position: center;
}

.social-vk svg {
  width: 30px;
  height: 30px;
}

.footer-social .social-fb {
  background-image: url("../img/facebook.svg");
}

.footer-social .social-inst {
  background-image: url("../img/instagram.svg");
}

.footer-social a:hover,
.footer-social a:focus,
.footer-social a:active {
  background-color: #ffffff;
}

.social-vk:hover path,
.social-vk:focus path,
.social-vk:active path {
  fill: #000000;
}

.footer-social .social-fb:hover,
.footer-social .social-fb:focus,
.footer-social .social-fb:active {
  background-image: url("../img/facebook-black.svg");
}

.footer-social .social-inst:hover,
.footer-social .social-inst:focus,
.footer-social .social-inst:active {
  background-image: url("../img/instagram-black.svg");
}

.page-lead {
  display: block;
  margin-bottom: 70px;
}

.tools-info {
  width: 390px;
}

.tools-list {
  margin: 0;
  padding: 0;
}

.price-list {
  width: 460px;
}

.price-list-table {
  margin: 0;
  padding: 0;
}

.shop-columns .about {
  width: 390px;
}

.shop-columns .benefits {
  width: 460px;
}

.price-columns {
  margin-bottom: 65px;
}

body > * {
  background-color: rgba(200, 0, 0, 0.3);
}

body > * > * {
  background-color: rgba(0, 255, 0, 0.3);
}

body > * > * > * {
  background-color: rgba(0, 255, 255, 0.3);
}

body > * > * > * > * {
  background-color: rgba(0, 0, 255, 0.3);
}

body > * > * > * > * > * {
  background-color: rgba(255, 0, 255, 0.3);
}
